<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <button @click="reConn">reConn</button>
    <button @click="messages=[];sends=[]">clear</button>
    <br>
    <hr>
    <button @click="sendCmd1">Send1</button>
    
    <br>
    <input type="text" v-model.number="cmd" placeholder="cmd">
    <input type="text" v-model="body" placeholder="body">
    <button @click="sendDef">Send</button>
    
    <br>
    <div>
        <div class="message">
            <ul>
                <li v-for="item in sends">{{item}}</li>
            </ul>
        </div>
        <div class="message">
            <ul>
                <li v-for="item in messages">{{item}}</li>
            </ul>
        </div>
    </div>


</div>
</body>

<script>
    var server ='47.94.204.137'
//    var server ='localhost'
    var ws = new WebSocket("ws://"+server+":8081/");
    var uid = window.location.hash.substr(1)
    console.log(uid)

    var messageHandle = function (e) {
        app.messages.splice(0, 0, e.data)
    }

    ws.onmessage = messageHandle
    var app = new Vue({
        el: '#app',
        data: {
            messages: [],
            sends: [],
            items: [{'key': 1, 'class': 'tank', pos: {x: 100, y: 100}, id: '99'}],
            cmd: 0,
            body: '',
        },
        methods: {
            send: function (cmd, body) {
                var s = JSON.stringify({Cmd: cmd, Body: body})
                app.sends.splice(0, 0, s)
                ws.send(s)
            },
            sendDef: function () {
                app.send(app.cmd, app.body)
            },
            sendCmd1: function () {
                app.send(1, uid)
            },
            reConn: function () {
                ws = new WebSocket("ws://"+server+":8081/");
                ws.onmessage = messageHandle
            }
        }
    })

    document.onkeydown = function (event) {

    };

    document.onkeyup = function (event) {

    };

</script>

<style>
    html, body, #app {
        height: 100%;
        width: 100%;
    }
    
    .tank {
        position: absolute;
        top: 500px;
        width: 30px;
        height: 30px;
        background-color: aquamarine;
        /*transition: all 0.1s linear;*/
    }
    
    .message {
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
</style>
</html>